@import "colors";
.arrow-box {
  text-align: center;
  height: 10%;
  position: relative;
}

.section-title {
  padding-top: 3rem;
  text-align: center;
}
.title-project {
  color: $yellow;
}
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid $white;
}
.icon-btn {
  color: $white;
  margin-left: 20px;
  margin-right: 20px;
}

.vertical-align-child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  margin: auto;
}
