@import "colors";
.intro-box {
  overflow-x: hidden;
  min-height: 50vh;
  background-color: $yellow;

  .container {
    padding-top: 3rem;
    padding-bottom: 6rem;
  }
}

.intro-box {
  h1::selection,
  p::selection,
  big::selection {
    color: $pink;
  }
}

.icon-box {
  padding-top: 2rem;
  text-align: center;
  .col-12 {
    padding-left: 0;
    padding-right: 0;
  }
  ul {
    margin-bottom: 0;
    li {
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  .icon-caption-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.intro-img-box {
  height: 100%;
  text-align: center;
  transform: translateX(-100%);
  img {
    width: 80%;
    border: 2px solid $black;
  }
}

.intro-text-box {
  transform: translateX(100%);
  big {
    font-weight: 600;
  }
}

.anim {
  transform: translateX(0);
  transition: transform 1s;
}
