@import "colors";
.nav-box {
  background-color: $black;
  position: fixed;
  width: 100%;
  z-index: 1;
  *::selection {
    color: $white;
  }
}
.navbar-toggler {
  border: none;
}

.navbar-box {
  background-color: $black;
  padding: 0;
  .row {
    margin: 0;
  }
}

.navbar {
  width: 100%;

  .nav-item:hover .nav-link {
    color: $white !important;
  }
}
.navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
  background-color: $black;
}
.navbar-custom {
  background-color: $black;
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}
