@import "colors";
.project-preview-box {
  width: 100%;
  margin-left: 0;
  margin-right: 0;

  .project-preview {
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-left: 0;
    margin-right: 0;
    .card {
      line-height: normal;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.025);
      }
      background-color: $yellow;
      color: $black;
      min-height: 33vh;
      margin-bottom: 5rem;
      a {
        color: $black;
      }
      svg {
        transition: all 0.2s ease-in-out;
        &:hover {
          transform: scale(1.15);
          cursor: pointer;
        }
      }

      .card-title {
        display: inline;
      }

      .card-text {
        margin-bottom: 5px;
      }

      .skills {
        margin-right: 5px;
        margin-bottom: 0;
        display: inline-block;
      }

      *::selection {
        color: $white;
      }
    }
  }
}

.project-img-box {
  height: 33vh;
  .project-img {
    border: 5px solid transparent;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media (min-width: 1280px) {
  .card {
    width: 33rem;
  }
}
