* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}
html,
body,
#root {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
}
body,
input,
button {
  font-family: "Oxygen", sans-serif !important;
}

ul {
  list-style: none;
}
button {
  cursor: pointer;
}

h1 {
  font-size: 2.5rem !important;
  font-weight: 600 !important;
}

h4,
h6 {
  font-weight: bold !important;
}
a {
  text-decoration: none !important;
}
a:hover {
  color: inherit !important;
  text-decoration: none !important;
}
