@import "./colors.scss";
.work-box {
  min-height: 40vh;
  color: $black;
  background-color: $white;
  * {
    &::selection {
      background-color: $black;
      color: $white;
    }
  }
}

.work-content {
  padding-top: 3rem;
  padding-bottom: 3rem;

  .card {
    background-color: inherit;
    border: none;
    font-size: 1rem;
    .card-subtitle {
      margin: 0.75rem 0;
    }
  }
}
.tab-btn {
  display: inline;
}
.work-title {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.work-location {
  font-size: 1rem;
}
.work-res {
  margin: 0.5rem 0;
  list-style: inside;
}
